body {
    margin: 0;
    background-color: white;
}
.nav {
    height: 20px;
    background-color: white;
    font-size: 12px;
}
.nav1 {
    background-color: white;
    font-size: 12px;
    height: 5px;
}
.bank {
    text-transform: uppercase ;
    color: #1ea827;
    font-size: 12px;
    font-weight: bold;
}
.kab {
    color: #1ea827;
}
div {
    height: 200px;
    background-color: #0d142f;
}
p {
    margin-left: 200px;
    color: white;
}
button {
    margin-left: 200px;
    background-color: #0d142f;
    font-size: 10px;
    height: 35px;
}
.button {
    margin-left: 0;
    color: white;
}
.sber {
    font-size: 22px;
}
.tabl {
    display: flex;
    height: 400px;
}
.left {
    width: 50%;
    height: 400px;
    background-color: white;
}
h2 {
    margin-left: 200px;
}
time {
    margin-left: 200px;
}
.new {
    color: black;
}
.right {
    width: 50%;
    height: 400px;
    background-color: white;
}